.hexa-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 8.375rem;
  height: 7.25rem;
}
.group-icon-title {
  position: absolute;
  top: 31px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.style-image {
  width: 34px;
  height: 40px;
}
.title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  font-family: Inter;
  margin: 5px 0;
}

.food-card-wrapper {
  background: #ffcc21;
  width: 7.5rem;
  height: 2rem;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
}
.food-card-title {
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 400;
  padding-top: 0.25rem;
  text-align: center;
  font-family: Inter;
}
.food-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left-part {
  flex: 7;
  position: relative;
}
.percent-date-wrapper {
  position: absolute;
  display: block;
  left: 19rem;
  top: 5rem;
}
.block-percent {
  position: absolute;
  top: 5rem;
  left: 2.5rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 6px 0px #fc7400;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}
.date-percent {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.percent-number {
  font-size: 1.5625rem;
  line-height: 1.875rem;
}
.line-chart-right {
  background: #2e2e2e;
  width: 60%;
  display: inline-block;
  text-align: center;
  flex: 10;
}
.hexa-card {
  display: flex;
  padding: 22px 0;
  justify-content: center;
  margin: 0 auto;
}
.hexa-card-item {
  margin: 0 32px;
}
